LOGGING:
  version: 1
  disable_existing_loggers: False
  formatters:
      simple:
          format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"

  handlers:
      console:
          class: logging.StreamHandler
          level: DEBUG
          formatter: simple
          stream: ext://sys.stdout

      info_file_handler:
          class: logging.handlers.RotatingFileHandler
          level: INFO
          formatter: simple
          filename: lidtk.info.log
          maxBytes: 10485760 # 10MB
          backupCount: 20
          encoding: utf8

      error_file_handler:
          class: logging.handlers.RotatingFileHandler
          level: ERROR
          formatter: simple
          filename: lidtk.errors.log
          maxBytes: 10485760 # 10MB
          backupCount: 20
          encoding: utf8

  loggers:
      my_module:
          level: ERROR
          handlers: [console]
          propagate: no

  root:
      level: DEBUG
      handlers: [console, info_file_handler, error_file_handler]


ASSETS:
  file: /assets/fetch_base/triangle_2018-08-23-18-01-24.bag_hand_positions.xml
  robot: /assets/fetch_base/robot.xml
  basic: /assets/fetch_base/basic.xml

PARAMETERS:
  reachable:
    offset_x: 0.05
    offset_y: -0.15
  dist_threshhold: 0.025
  gripper_pos:
    _x: 0.606   
    _y: -0.039
    _z: 0.355
  limit_goals: 800
  action_shape: 4